{% extends "base/master.html" %}

{% block title %}
  members - Directory
{% endblock %}

{% block content %}

<h2>Members Directory</h2>

<form method="get" action=".">
    <input type="text" name="q" placeholder="Search users..." value="{{ query }}">
    <button type="submit">Search</button>
</form>

<ul>
  {% for user in page_obj %}
    <li>{{ user.username }} - {{ user.email }}</li>
  {% empty %}
    <li>No users found.</li>
  {% endfor %}
</ul>

<div class="pagination">
  {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">Previous</a>
  {% endif %}

  <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}">Next</a>
  {% endif %}
  <p>Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }}</p>

</div>
<p>Check out all our <a href="{% url 'members:members' %}">Members</a></p>

  <p>View table of all members <a href="{% url 'members:dbtable' %}">dbtable</a></p>
 
{% endblock %}