{% extends 'base/master.html' %}

{% block title %}
    <h1>Login page</h1>
{% endblock %}

{% block content %}
    <h1>Login</h1>


    <form method= "post">
        {% csrf_token %}


            <label for="username">username:</label><br>
            <input  type="text" name="username" id="username" required><br><br>

            <label for="password">password:</label><br>
            <input  type="password" name="password" id="password" required><br><br>

            <input  type="submit" value="Login" class="btn btn-primary">
            
        </form>

     
    {% endblock %}